.chat-messages-show-container{
  border-style: groove;
  border-color: gray;
  border-width: 1px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 10px;
}
.chat-messages-show-list {
  padding: 20px;
  border-width: 1px;
  margin: 5px 30px;
}
.chat-messages-create-container{
  background: #616161;
  height: 100px;
  display: flex;
  justify-content: center;
}
.chat-messages-create-input {
  padding: 12px;
  margin: 29px 30px;
  flex:2
}
.chat-messages-create-button {
  height: 50px;
  margin: auto 40px;
  width: 100px;
}

.username {
  font-size: 12px;
  font-style: italic;
}

.rigth {
  text-align: right;
}

.usernamebox {
  text-align: end;
  margin: 15px 15px;
}

.usernameinput {
  border-style: none;
  background: none;
}

.usernamespan {
  font-size: 11px;
}

.activeusers {

}
